body{
    background-color: rgb(16, 16, 16);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav{
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
}

nav a{
    height:50px;
    width:200px;
    line-height: 50px;
    
}

@media (max-width: 750px) {
    nav a{
        width:150px;
    }
}

.tachar{
    color: green !important;
    text-decoration: line-through;
    
}

.centrado{
    text-align: center;
}

.container-style{
    font-family: "Lemon", serif;
    border: 4px solid rgb(219, 219, 63);;
    border-bottom: 40px solid rgb(219, 219, 63);
    background-color:honeydew;
    border-radius: 6px;
}

.card{
    background-color:aliceblue;
}

.titulo{
    border: 3px solid yellow;
    border-radius: 10px;
    background-color: black;
    color: yellow;
    padding: 10px;
    
}

.container-log-btns{
    display: flex;
    gap:1rem;
}

.container-task-btns{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
}

.logout{
    margin-right: 10px;
}